# Data Science Tools and Ecosystem

**Objectives:**

* popular languages that Data Scientists use
* commonly used libraries used by Data Scientists
* Data Science Tools
* examples of evaluating arithmetic expressions in Python

## In this notebook, Data Science Tools and Ecosystem are summarized

**Some of the popular languages that Data Scientists use are:**
1. R
2. Python
3. Sql

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter lab/notebook|
|Rstudio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
VIVEK BHARATI